{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": 0,          // allow console
    "quotes": [2, "single"],  // force single quotes
    "semi": [2, "always"],    // force semi-colons
    "comma-dangle": 0        // allow trailing commas
  }
}